YOUTUBE_API_KEY=your_youtube_data_api_v3_key_here
ANTHROPIC_API_KEY=your_anthropic_api_key_here
GROWKWIK_YOUTUBE_CHANNEL_ID=UCxxxxxxxxxxxxxxxxxxxxxx
GROWKWIK_INSTAGRAM_USERNAME=growkwik
VARUN_MAYA_VIDEO_ID=youtube_video_id_of_expose_video
